:root {
    --text: #FDFDFD;
    --txtpara: #E5E5E5;
    --primary: #f5c542;
    --secondry: #fbb931;
    --link: #FCA311;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: #050505;
    color: var(--text);
    overflow-x: hidden;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.section {
    padding: 90px 0;
}

.darkSection {
    background: #090909;
    border-top: 1px solid rgba(255, 255, 255, 0.07);
    border-bottom: 1px solid rgba(249, 212, 212, 0.07);
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    /* margin-top: 16px; */
    padding: 8px 12px;
    border-radius: 10px;
    font-weight: 400;
    transition: 0.3s;
    display: inline-block;
}

.primaryBtn {
    background: var(--primary);
    color: f7ce46;
    box-shadow: 0px 4px 14px rgba(245, 197, 66, 0.18);

}

.primaryBtn:hover {
    transform: translateY(-1px) scale(0.95);
    box-shadow: 0px 0px 15px rgba(255, 140, 0, 0.9),
        0px 0px 35px rgba(255, 215, 0, 0.7);
}

.secondaryBtn {
    border: 2px solid var(--primary);
    color: var(--secondry);
}

.secondaryBtn:hover {
    background: var(--primary);
    color: black;
    transform: translateY(-4px);
    /* box-shadow: 0px 0px 10px rgba(255, 193, 7, 0.5),
        0px 0px 25px rgba(255, 152, 0, 0.4); */
}

.fullBtn {
    width: 100%;
    text-align: center;
}

/* Loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #050505;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loaderBox {
    width: 60px;
    height: 60px;
    border: 5px solid rgba(255, 230, 0, 0.216);
    border-top: 5px solid var(--primary);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loader p {
    margin-top: 15px;
    color: var(--primary);
    font-weight: 600;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* Header */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.logo {
    font-size: 16px;
    font-weight: 700;
    color: var(--dark);
    /* text-shadow: 0px 0px 15px rgba(255, 174, 0, 0.5); */
}

.logo span {
    color: #f2b229;
}

.logoM {
    display: flex;
    align-items: center;
    gap: 9px;
}

.logoText {
    border-left: 4px solid rgb(255, 187, 0.25);
    padding-left: 8px;
    font-size: 24px;
    font-weight: bold;
}

.animatedText {
    background-image: url("https://imgs.search.brave.com/N7PhTws3Hp2H54xHNTFLXala_8RgRPLwMVq3C3zx_Ao/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9jZG4u/dmVjdG9yc3RvY2su/Y29tL2kvcHJldmll/dy0xeC8yMS8zOC9n/b2xkZW4teWVsbG93/LXRyaWFuZ2xlLWJn/LWZvci15b3VyLWJ1/c2luZXNzLXZlY3Rv/ci0yMzY2MjEzOC5q/cGc");
    -webkit-background-clip: text;
    background-position: center;
    color: transparent;
    animation: movebg 5s linear infinite;
}

@keyframes movebg {
    0% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

.navLinks {
    display: flex;
    gap: 16px;
    list-style: none;
    font-size: 12px;
}

.navLinks li a {
    font-weight: 600;
    color: #fff;
    transition: 0.3s;
    position: relative;
}

.navLinks li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 0%;
    height: 3px;
    background: #f88f22;
    border-radius: 20px;
    transition: 0.3s;
}

.navLinks li a:hover::after {
    width: 100%;
}

.navLinks li a:hover {
    color: var(--link);
}

.activeLink {
    color: var(--link) !important;
}

.navBtns {
    display: flex;
    /* display: none;    */
    gap: 10px;
    align-items: center;
    align-self: center;
}

#joinNow {
    align-items: center;
}

.menuBtn {
    background: transparent;
    border: none;
    color: var(--link);
    font-size: 22px;
    cursor: pointer;
    display: none;
}

/* Hero */
.hero {
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1542751371-adc38448a05e?auto=format&fit=crop&w=1500&q=80") center/cover no-repeat;
    position: relative;
    display: flex;
    align-items: center;
}

.heroOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.92),
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.92));
}

.heroContent {
    position: relative;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 40px;
    align-items: center;
}

.heroTag {
    color: var(--primary);
    font-weight: 700;
    letter-spacing: 1px;
}

.heroText h1 {
    font-size: 48px;
    margin-top: 12px;
    line-height: 1.2;
    font-weight: 800;
}

.heroText h1 span {
    color: var(--primary);
    /* text-shadow: 0px 0px 20px var(--shadow); */
}

.heroDesc {
    margin-top: 18px;
    color: var(--txtpara);
    line-height: 1.7;
}

.heroBtns {
    margin-top: 25px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.heroStats {
    display: flex;
    gap: 18px;
    margin-top: 35px;
    flex-wrap: wrap;
}

.statBox {
    background: rgba(255, 255, 255, 0.05);
    padding: 14px 18px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    transition: 0.3s;
}

.statBox:hover {
    border-color: var(--secondry);
    transform: translateY(-6px);
    box-shadow: 0px 0px 25px rgba(255, 245, 0, 0.25);
}

.statBox h2 {
    font-size: 28px;
    color: var(--primary);
    font-weight: 800;
}

.statBox p {
    color: var(--txtpara);
    font-size: 14px;
}

.glassCard {
    background: rgba(255, 255, 255, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.12);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.glassCard:hover {
    border-color: var(--primary);
    box-shadow: 0px 0px 10px rgba(255, 193, 7, 0.5),
        0px 0px 25px rgba(255, 152, 0, 0.4);
    transform: translateY(-10px);
}

.glassCard h2 {
    font-size: 22px;
    color: var(--primary);
}

.glassCard p {
    color: var(--txtpara);
    margin-top: 8px;
}

.tournamentInfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 18px 0;
}

.tournamentInfo div {
    background: rgba(0, 0, 0, 0.4);
    padding: 14px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.tournamentInfo span {
    font-size: 13px;
    color: var(--txtpara);
}

.tournamentInfo h3 {
    font-size: 16px;
    color: var(--secondry);
}

/* Section Heading */
.sectionHead {
    text-align: center;
    margin-bottom: 50px;
}

.sectionHead h2 {
    font-size: 38px;
    font-weight: 800;
}

.sectionHead h2 span {
    color: var(--primary);
}

.sectionHead p {
    margin-top: 10px;
    color: var(--txtpara);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/* About */
.aboutGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
}

.aboutCard {
    background: #0e0e0e;
    padding: 28px;
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    transition: 0.3s;
}

.aboutCard i {
    font-size: 35px;
    color: var(--link);
}

.aboutCard h3 {
    margin-top: 14px;
    font-size: 18px;
    font-weight: 800;
}

.aboutCard p {
    margin-top: 10px;
    color: var(--txtpara);
    font-size: 14px;
    line-height: 1.6;
}

.aboutCard:hover {
    transform: translateY(-10px);
    border-color: var(--secondry);
    box-shadow: 0px 0px 10px rgba(255, 193, 7, 0.5),
        0px 0px 25px rgba(255, 152, 0, 0.4);
}

/* Tournament Cards */
.tournamentGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.tournamentCard {
    background: #0e0e0e;
    padding: 28px;
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.badge {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 6px 12px;
    background: rgba(0, 255, 245, 0.15);
    border: 1px solid rgba(0, 255, 245, 0.4);
    color: #ccc;
    font-size: 12px;
    border-radius: 30px;
    font-weight: 700;
}

.gold {
    background: rgba(255, 215, 0, 0.15);
    border: 1px solid rgba(255, 215, 0, 0.4);
    color: var(--primary);
}

.tournamentCard h3 {
    font-size: 20px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 8px;
    color: var(--primary);
}

.tournamentCard p {
    margin-top: 10px;
    color: var(--txtpara);
}

.tInfo {
    margin: 18px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--txtpara);
}

.tInfo span i {
    color: var(--primary);
    margin-right: 8px;
}

.tournamentCard:hover {
    transform: translateY(-10px);
    border-color: var(--secondry);
    box-shadow: 0px 0px 10px rgba(255, 193, 7, 0.5),
        0px 0px 25px rgba(255, 152, 0, 0.4);
}

/* Services */
.packs {
    display: flex;
    flex-wrap: wrap;
}

.h3Tag {
    margin-top: 4px;
}

.tag {
    margin: 8px 6px;
    padding: 6px 14px;
    border-radius: 10px;
    border: 1px solid var(--secondry);
    color: var(--txtpara);

    transition: 0.3s;

}

.packs ul li {
    font-weight: 100;
    font-size: 9px;
    line-height: 13px;

}


.team {
    display: flex;
    gap: 12px;
    align-items: center;
}

.team img {
    width: 55px;
    height: 55px;
    border-radius: 14px;
    object-fit: cover;
    border: 2px solid var(--secondry);
}

.team h3 {
    font-size: 16px;
    font-weight: 800;
}

.vs {
    text-align: center;
}

.vs h2 {
    color: var(--primary);
    font-weight: 900;
}

.vs p {
    color: #cfcfcf;
    font-size: 14px;
}

/* Teams */
.teamGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.teamCard {
    background: #0e0e0e;
    border-radius: 18px;
    border: 1px solid var(--secondry);
    overflow: hidden;
    transition: 0.3s;
}

.teamImg img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: 0.4s;
}

.teamCard h3 {
    padding: 15px 15px 0;
    font-size: 18px;
    font-weight: 900;
    color: var(--primary);
}

.teamCard p {
    padding: 5px 15px 20px;
    color: var(--txtpara);
}

.teamCard:hover {
    transform: translateY(-10px);
    border-color: var(--secondry);
    box-shadow: 0px 0px 10px rgba(255, 193, 7, 0.5),
        0px 0px 25px rgba(255, 152, 0, 0.4);
}

.teamCard:hover img {
    transform: scale(1.1);
}

/* Gallery */
.galleryGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.galleryItem {
    border-radius: 18px;
    overflow: hidden;
    border: 1px solid var(--secondry);
    transition: 0.3s;
}

.galleryItem img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    transition: 0.4s;
}

.galleryItem:hover {
    border-color: var(--secondry);
    transform: translateY(-8px);
    box-shadow: 0px 0px 10px rgba(255, 193, 7, 0.5),
        0px 0px 25px rgba(255, 152, 0, 0.4);
}

.galleryItem:hover img {
    transform: scale(1.12);
}

/* Contact */
.contactGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    align-items: start;
}

.contactInfo {
    background: #0e0e0e;
    padding: 28px;
    border-radius: 18px;
    border: 1px solid var(--secondry);
    transition: 0.3s;
}

.contactInfo:hover {
    border-color: var(--secondry);
    box-shadow: 0px 0px 10px rgba(255, 193, 7, 0.5),
        0px 0px 25px rgba(255, 152, 0, 0.4);
}

.contactInfo h3 {
    font-size: 22px;
    color: var(--primary);
    font-weight: 900;
}

.contactInfo p {
    margin-top: 12px;
    color: var(--txtpara);
    line-height: 1.6;
}

.infoBox {
    margin-top: 15px;
    display: flex;
    gap: 12px;
    align-items: center;
    color: var(--txtpara);
}

.infoBox i {
    color: var(--secondry);
    font-size: 18px;
}

.socialLinks {
    margin-top: 20px;
    display: flex;
    gap: 14px;
}

.socialLinks a {
    width: 42px;
    height: 42px;
    border-radius: 12px;
    border: 1px solid var(--secondry);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    transition: 0.3s;
}

.socialLinks a:hover {
    background: var(--secondry);
    color: black;
    transform: translateY(-6px) scale(1.1);
    box-shadow: 0px 0px 10px rgba(255, 193, 7, 0.5),
        0px 0px 25px rgba(255, 152, 0, 0.4);
}

.contactForm {
    background: #0e0e0e;
    padding: 28px;
    border-radius: 18px;
    border: 1px solid var(--secondry);
    transition: 0.3s;
}

.contactForm:hover {
    border-color: var(--secondry);
    box-shadow: 0px 0px 10px rgba(255, 193, 7, 0.5),
        0px 0px 25px rgba(255, 152, 0, 0.4);
}

.contactForm input,
.contactForm textarea {
    width: 100%;
    margin-top: 12px;
    padding: 14px;
    border-radius: 14px;
    border: 1px solid var(--secondry);
    background: #050505;
    color: var(--text);
    outline: none;
    transition: 0.3s;
}

.contactForm textarea {
    border: none;
    height: 120px;
    resize: none;
    margin-bottom: 14px;
}

.contactForm input:focus,
.contactForm textarea:focus {
    border-color: var(--primary);
    box-shadow: 0px 0px 10px rgba(255, 193, 7, 0.5),
        0px 0px 25px rgba(255, 152, 0, 0.4);
}

.formNote {
    margin-top: 10px;
    color: var(--txtpara);
    font-size: 12px;
}

/* Footer */
.footer {
    background: #050505;
    border-top: 1px solid var(--secondry);
    padding-top: 40px;
}

.footerGrid {
    display: grid;
    grid-template-columns: 1.4fr 1fr 1fr 1fr 1fr;
    gap: 28px;
    padding-bottom: 35px;
}

.footerLogo {
    font-size: 22px;
    font-weight: 900;
    color: var(--primary);
}

.footerLogo span {
    color: var(--text);
}

.footer p {
    margin-top: 10px;
    color: var(--txtpara);
    line-height: 1.6;
    font-size: 12px;
}

.footer h3 {
    color: var(--link);
    font-weight: 700;
}

.footer ul {
    margin-top: 10px;
    list-style: none;
}

.footer ul li {
    margin-top: 8px;
}

.footer ul li a {
    color: var(--txtpara);
    transition: 0.3s;
}

.footer ul li a:hover {
    color: var(--primary);
    padding-left: 6px;
}

.footerSocial {
    margin-top: 15px;
    display: flex;
    gap: 12px;
}

.footerSocial a {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    border: 1px solid var(--secondry);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    transition: 0.3s;
}

.footerSocial a:hover {
    background: var(--link);
    color: black;
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0px 0px 10px rgba(255, 193, 7, 0.5),
        0px 0px 25px rgba(255, 152, 0, 0.4);
}

.copyright {
    text-align: center;
    padding: 15px;
    background: #000;
    color: #cfcfcf;
    font-size: 13px;
    border-top: 1px solid var(--secondry);
}

/* Scroll Top */
.scrollTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    border-radius: 14px;
    background: var(--primary);
    color: black;
    font-size: 18px;
    border: none;
    cursor: pointer;
    display: none;
    transition: 0.3s;
    z-index: 999;
}

.scrollTop:hover {
    transform: translateY(-8px);
    box-shadow: 0px 0px 10px rgba(255, 193, 7, 0.5),
        0px 0px 25px rgba(255, 152, 0, 0.4);
}

/* Scroll Reveal */
.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: 0.6s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* Responsive */
@media (max-width: 992px) {
    .navBtns {
        display: flex;
    }

    .heroContent {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .heroBtns {
        justify-content: center;
    }

    .heroStats {
        justify-content: center;
    }

    .tournamentInfo {
        grid-template-columns: 1fr;
    }

    .aboutGrid {
        grid-template-columns: repeat(1, 1fr);
    }

    .tournamentGrid {
        grid-template-columns: 1fr;
    }

    .teamGrid {
        grid-template-columns: 1fr;
    }

    .galleryGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .contactGrid {
        grid-template-columns: 1fr;
    }

    .footerGrid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .menuBtn {
        display: block;
    }


    .navLinks {
        position: absolute;
        top: 70px;
        right: -100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.95);
        flex-direction: column;
        text-align: center;
        padding: 30px 0;
        gap: 18px;
        transition: 0.4s;
    }

    .navLinks.showMenu {
        right: 0;
    }

    #joinNow {
        display: none;
    }

    .glassCard {
        margin-bottom: 90px;
    }

    #about {
        margin-top: 44px;
    }

    .heroText h1 {
        font-size: 32px;
    }

    .glassCard {
        display: none;
    }

    .heroTag {
        margin-top: 90px;
    }

    .matchBox {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .team {
        justify-content: center;
    }

    .galleryGrid {
        grid-template-columns: 1fr;
    }
}
