/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    overflow: hidden;

}

/* Container */
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* Navbar */
.navbar {
    background: #fff;
    padding: 15px 0;

}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #111;
    font-size: 18px;
    margin-left: 0;
    display: flex;
    align-items: center;
}

.logo img {
    height: 34px;
    width: 34px;
}

.logo h2 {
    width: 34px;
    align-items: center;
    margin-left: 12px;
    padding-left: 12px;
    border-left: 3px solid black;
}

/* Nav Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 60px;
}

.nav-links li a {
    color: #111;
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
}

.nav-links li a:hover {
    color: #ffcc4d;


}

/* Hamburger Icon */
.menu-toggle {
    display: none;
    font-size: 28px;
    color: #111;
    cursor: pointer;
}

/* Hero */
.hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #0b0b0f;
    color: #f4f4f4;
    padding: 20px;
}

.hero-content h1 {
    font-size: 45px;
    margin-bottom: 10px;
    color: #f5f5f5;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #f5ebe1;
}

.btn {
    padding: 12px 25px;
    border: none;
    background: orange;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: darkorange;
}

/* Footer */
.footer {
    /* background: #15151d; */
    background: #1e1e28;
    color: #f5f5f5;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 14px;
    margin: auto 0;
}


/* Responsive Design */
@media (max-width: 768px) {

    /* Show hamburger */
    .menu-toggle {
        display: block;
    }

    /* Hide menu initially */
    .nav-links {
        display: none;
        flex-direction: column;
        background: #1e1e28;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    .nav-links li a {
        color: #fff;
    }

    /* When active */
    .nav-links.active {
        display: flex;
    }

    .hero-content h1 {
        font-size: 30px;
    }

    .hero-content p {
        font-size: 16px;
    }

}