/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    height: 100%;
    overflow: auto;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Container */
.container {
    width: 80%;
    max-width: 1100px;
    margin: auto;
}

/* Navbar */
.navbar {
    background: #fff;
    padding: 15px 0;
    position: relative;

}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #111;
    font-size: 18px;
    margin-left: 0;
    display: flex;
    align-items: center;
}

.logo img {
    height: 34px;
    width: 34px;
}

.logo h2 {
    width: 34px;
    align-items: center;
    margin-left: 12px;
    padding-left: 12px;
    border-left: 3px solid black;
}

/* Nav Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 5rem;
    margin-left: 12rem;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 32px;
    font-weight: 350;
    opacity: 0.6;
}

.nav-links li a:hover {
    color: #ffcc4d;
    opacity: 1;
}

/* sidebar start */
.sidebar ul {
    display: none;
}

#showSidebar {
    display: flex;
}

/* Hero */
main {
    flex: 1;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #0b0b0f;
    color: #f4f4f4;
    padding: 6rem;
    gap: 8rem;
}


.hero-content h1 {
    font-size: 45px;
    margin-bottom: 10px;
    color: #f5f5f5;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #f5ebe1;
}

button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #ffcc4d;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

button:hover {
    background: #ffcc4d;
    color: #111;
    box-shadow: 0 0 30px 5px #ffcc4d;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

.heroImg {
    margin-top: auto 32px;
    object-fit: cover;
    background-position: center;
}

.heroImg img {
    height: 344px;
    width: 344px;
    border: 3px solid #fff;
    border-radius: 50%;

}

/* Footer */
.footer {
    background: #1e1e28;
    color: #f5f5f5;
    padding: 12px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    padding: auto 4px;
    font-size: 14px;
    margin: auto 0;
}


/* Responsive Design */
@media (max-width: 768px) {

    /* for maobile  */
    /* Show hamburger */
    .menu-toggle {
        display: block;
    }

    /* Hide menu initially */
    .nav-links {
        display: none;
        flex-direction: column;
        background: #1e1e28;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    .nav-links li a {
        color: #fff;
    }

    /* When active */
    .nav-links.active {
        display: flex;
        transform: translate(2px);
    }

    /* sidebar style start */
    .sidebar {
        color: #ffffff;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 50%;
        z-index: 999;
        background: rgba(0, 0, 0, 0.95);
        transition: 0.5s ease;
        opacity: 0.7;
        backdrop-filter: blur(10px);
        z-index: 9999;
        padding-top: 20px;
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        display: none;
        opacity: 0.9;
    }

    .sidebar ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .sidebar ul li {
        margin: 25px auto;
    }

    .sidebar a {
        width: 100%;
        text-align: center;
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        display: block;
        padding: 10px;
        transition: 0.3s;
    }

    .sidebar i {
        align-content: start;
    }

    .sidebar-list {
        width: 100%;
    }

    .sidebar-list ul {
        text-align: center;
    }

    #hideSidebar {
        align-self: flex-end;
        margin-right: 12px;
    }

    .sidebar ul li a:hover {
        background: #f4c15d;
        color: black;
        border-radius: 1px;
    }

    #showSidebar {
        font-size: 28px;
    }

    #hideSidebar {
        margin-right: 36px;
        font-size: 34px;
        color: white;

    }

    /* sidebar done  */

    .hero-content h1 {
        font-size: 20px;
    }

    .hero-content p {
        font-size: 10px;
    }

    .hero {
        flex-direction: column;
    }

    .heroImg {
        margin-top: 32px 64px;
    }

    main {
        padding: 16px;
        gap: 46px;
    }

    button {
        margin-top: 6px;
    }

    .heroImg img {
        height: 244px;
        width: 244px;
    }
}

@media screen and (min-width : 744px) {
    #showSidebar {
        display: none;
    }

}